
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    

/*VARIABLES*/

$header-font:'Roboto Slab', serif,
sans-serif;
$text-font:'Roboto Slab', serif,
serif;
$main-color:#499b4a;
$main-shadow: #326533;

/*TYPOGRAPHY*/

h1,
h2,
h3 {
    font-family: $header-font;
    color: white;
    font-weight: 600;
}

p,
span {
    font-family: $text-font;
    color: white;
    font-weight: 300;
}

body {
    padding: 2rem;
    background-color: $main-color;
    height: 75rem;
    width: 100%;
}

button {
    cursor: pointer;
}

.complete_wrapper {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .outter_div {
        position: absolute;
        border-radius: 2rem;
        background-color:  #244a25;
        width: 100%;
        height: 100%;
    }
    .top_outter {
        z-index: 3;
        background: url("./fiverimagebg.gif") repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        left: 7px;
        bottom: 7px;
        background-color: wheat;
        border: 2px solid black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        .information_wrapper {
            padding: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            .social_links{
                margin-bottom: 2rem;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                >button{
                    border: none;
                    border-radius: 1rem;
                    background-color: #499b4a;
                    height: 4rem;
                    width: 10rem;

                    >a{
                        text-decoration: none;
                        color: white;
                        font-size: 1.3rem;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        >img{
                            height: 2rem;
                        }

                    }
                }
                .twitter{
                    width: 7rem;
                    >a{
                        >img{
                            height: 2rem;
                            filter: invert(100%) sepia(4%) saturate(7476%) hue-rotate(90deg) brightness(125%) contrast(110%);
                        }
                    }
                }
            }
            .connect_button_wrapper {
                margin: 2rem 0rem;
                width: 70%;
                height: 4rem;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                .info_button {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    max-width: 15rem;
                }
                #connect_btn_top {
                    background-color: $main-color;
                    border: none;
                    font-size: 2rem;
                    color: white;
                    border-radius: 0.2em;
                }
                #connect_btn_bottom {
                    display: none;
                    background-color: $main-shadow !important;
                    border: none !important;
                }
                .connected {
                    max-width: 100% !important;
                    width: 15rem;
                    background-color: white !important;
                    height: 4rem;
                    border-radius: 0.5rem;
                    font-size: 2.2rem !important;
                    color: $main-color !important;
                    border: none !important;
                }
                #connect_btn_top.connected {
                    transform: translate(5px, -5px);
                }
            }
            .info_header_wrapper {
                height: 5rem;
                width: 100%;
                margin: 2rem 0rem;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                #header_image{
                    height: 13rem;
                    z-index: -5;
                }
                .info_header {
                    font-size: 2.5rem;
                    position: absolute;
                    text-align: center;
                }
                #top_header {
                    color: white;
                    transform: translateX(3px);
                }
            }
            .info_timer_wrapper {
                width: 100%;
                max-width: 32rem;
                height: 6rem;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: row;
                margin-bottom: 2rem;

            }
        }
        .mint_wrapper {
            padding: 1rem;
            width: 100%;
            max-width: 26rem;
            min-height: 30rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .mint_main {
                position: absolute;
                width: 90%;
                height: 90%;
                background-color: $main-shadow;
                border-radius: 2rem;
            }
            #mint_main_top {
                background-color: white;
                transform: translate(7px, -7px);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: column;
                >h3 {
                    color: black;
                    padding: 1rem;
                    text-align: center;
                    max-width: 50ch;
                }
                >span {
                    color: black;
                }
                .minting_amount_wrapper {
                    margin: 1rem 0rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    button {
                        height: 2rem;
                        width: 2rem;
                        border-radius: 50%;
                        margin: 1rem;
                        background-color: $main-color;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        .svgs_buttons {
                            filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(156deg) brightness(105%) contrast(101%);
                            height: 1.2rem;
                            width: 1.2rem;
                        }
                    }
                    >span {
                        color: black;
                        min-width: 6rem;
                        text-align: center;
                    }
                }
                .mint_button {
                    width: 60%;
                    height: 4rem;
                    margin: 1rem 0rem 1.5rem 0rem;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-color: $main-shadow;
                        border: none;
                        max-width: 15rem;
                        color: white;
                    }
                    #mint_top {
                        background-color: $main-color;
                        border: none;
                        font-size: 2rem;
                        border-radius: 0.2em;
                    }
                    #mint_bottom {
                        transform: translate(-5px, 5px);
                    }
                }
            }
            .mint_main_circle {
                position: absolute;
                height: 30%;
                width: 40%;
                border-radius: 50%;
                top: -40px;
                transform: translateX(10px);
                max-width: 10rem;
                max-height: 10rem;
                >img {
                    width: 100%;
                    border-radius: 50%;
                    border: 3px solid black;
                }
            }
        }
        >img {
            position: absolute;
            bottom: 0px;
        }
    }
}

#connect_reminder_wrapper {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: -500px;
    transition: 0.5s ease-in-out;
    #connect_reminder {
        padding: 2rem;
        max-width: 30rem;
        border: 3px solid black;
        background-color: $main-color;
        color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        #close_wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            >img {
                height: 2rem;
                margin-left: 3rem;
                cursor: pointer;
            }
            >span {
                font-size: 2rem
            }
        }
    }
}

#connect_reminder_wrapper.show {
    top: 0px;
}

@media (min-width:900px) {
    body {
        height: auto;
    }
    #connect_reminder_wrapper {
        #connect_reminder {
            height: 10rem;
            width: 30rem;
        }
    }
    .complete_wrapper {
        height: 115vh;
        .top_outter {
            flex-direction: column;
            justify-content: space-between;
            .information_wrapper {
                max-width: 50%;
                .social_links{
                    margin-bottom: 2rem;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;
                    >button{
                        border: none;
                        border-radius: 1rem;
                        background-color: #499b4a;
                        height: 4rem;
                        width: 13rem;
    
                        >a{
                            text-decoration: none;
                            color: white;
                            font-size: 1.5rem;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            >img{
                                height: 3rem;
                            }
    
                        }
                    }
                    .twitter{
                        width: 11rem;
                        >a{
                            >img{
                                height: 2.2rem;
                                filter: invert(100%) sepia(4%) saturate(7476%) hue-rotate(90deg) brightness(125%) contrast(110%);
                            }
                        }
                    }
                }
                .connect_button_wrapper{
                    margin-bottom: 0px;
                    margin-top: 0px;
                }
                .info_header_wrapper {
                    width: 100%;
                    #header_image{
                        height: 25rem;
                        z-index: -5;
                    }
                }
                .info_timer_wrapper {
                    padding-top: 0;
                    height: 10rem;
                    width: 100%;
                    .time_card {
                        height: 100%;
                        width: 30%;
                        max-width: 10rem;
                        justify-content: space-evenly;
                        >span {
                            font-size: 1.5rem;
                            color: black;
                        }
                        .time_card_div {
                            width: 90%;
                            height: 60%;
                            max-height: 10rem;
                            max-width: 10rem;
                            >span {
                                font-size: 4rem;
                                
                            }
                        }
                    }
                }
            }
            .mint_wrapper {
                min-width: 50%;
                max-width: 33rem;

            }
            >img {
                display: none;
            }
        }
    }
}